* {
  font-family: 'Indie Flower', cursive;
  text-align: center;
}


html {
  overflow-y: scroll;
}

.App {
  text-align: center;
  font-size: 10px;
  font-family: 'Indie Flower', cursive;
}

.App-header {
  background-color: #222;
  height: 13rem;
  padding: 2rem;
  color: white;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 10rem;
  display: block;
  /* border: 1px solid green; */
  margin: auto;
}

.App-title {
  font-size: 2rem;
  display: block;
  margin: 0.5rem;
}

.App-intro {
  font-size: large;
}

/* Errors */

.error {
  color: red;
}

/*Points Box*/

.points {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 10rem;
  /* height: 13rem; */
  font-size: 0.8rem;
  color: white;
  border: 1px solid green;
}

.points p {
  text-align: left;
}

.header {
  font-weight: 1000;
  font-size: 1rem;
  color: green;
}


@media only screen and (max-width:600px) {
  .points {
    font-size: 0.5rem;
    width: 5rem;
  }
  .header {
    font-size: 0.6rem;
  }
  .shrinkable {
    width: 10rem;
  }
  .logout {
    padding: 5px 10px !important;
    margin: 0 !important;
    font-size: 5px;
  }
}

/* Elements Stuff */

.button, .form, .label {
  font-size: 1rem;
  margin: 1rem auto;
  margin-bottom: 1rem;
  display: block;
}

/* Button Stuff */

.button {
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.logout {
  float: left;
  position: absolute;
}

input {
  display: initial;
  position: relative;
  margin: 0.2rem;
}

.side {
  border: 0;
  margin: 0 0;
  display: inline;
  padding: 10px 20px
}

.button:hover {
  background-color: #3e8e41
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Form Stuff */

/* .form {
  width: 25rem;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Table Stuff */

table {
  background: bisque;
  text-align: center;
  margin: auto auto;
}

th {
  background: aquamarine;
}

tr:hover {
  background-color: lightgreen;
  cursor: pointer;
}

.selected {
  background-color: lightgreen;
}

/* Loader */

svg {
  padding: 0.5rem;
  height: 10rem;
  width: 10rem;
  visibility: visible;
}

circle, .tick, .drawText {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

circle {
  stroke-dasharray: 350 350;
  animation-name: load;
}

@keyframes load {
  0% {
    stroke-dashoffset: 350;
  }
  20% {
    stroke-dashoffset: 0;
  }
}

.tick {
  animation-name: pop;
  transform-origin: 50% 50%;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1.8);
  }
  25% {
    transform: scale(1);
  }
}

.drawText {
  animation-name: pop;
  animation-duration: 3s;
  transform-origin: 50% 50%;
}