* {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

:root {
  --color1: green;
  --color2: gold;
  --color3: rgb(60, 60, 60);
  --color4: black;
}



html {
  overflow-y: scroll;
  overflow-x: hidden;
  touch-action: manipulation;
}

.App {
  text-align: center;
  font-size: 10px;
  font-family: 'Indie Flower', cursive;
}

.App-header {
  background-color: var(--color4);
  height: 13rem;
  padding: 2rem;
  color: white;
}

/* Logo */

#logo {
  height: 10rem;
}

.blink>#righteye>*, .blink>#lefteye>* {
  animation: blink 0.1s linear;
}

@keyframes blink {
  100% {
    ry: 0%;
  }
}

#mouth {
  transition: width 1s;
}

#logo.munch #mouth {
  animation: munch 1s;
  --open: 50px;
  --closed: 20px;
}
/* 
.pupil {
  transition: transform 1s;
  transform-origin: -10px;
} */

#logo.crazy .pupil {
  animation: crazy 1s;
  transform-origin: center;
}

@keyframes crazy {
  100% {transform: rotate(360deg)}
}

@keyframes munch {
  10% {stroke-width: var(--open)}
  20% {stroke-width: var(--closed)}
  30% {stroke-width: var(--open)}
  40% {stroke-width: var(--closed)}
  50% {stroke-width: var(--open)}
  60% {stroke-width: var(--closed)}
  70% {stroke-width: var(--open)}
  80% {stroke-width: var(--closed)}
  90% {stroke-width: var(--open)}
  100% {stroke-width: var(--closed)}
}

.App-title {
  font-size: 2rem;
  display: block;
  margin: 0.5rem;
}

.App-intro {
  font-size: large;
}

/* Errors */

.error {
  color: red;
}

/*Points Box*/

.navMenu {
  height: 100%;
  width: 10rem;
  top: 0;
  right: 0;
  background-color: var(--color3);
  z-index: 925;
  position: fixed;
  transform: translate(10rem);
  transition-property: transform, opacity;
  transition-duration: 0.5s;
}

.navMenu.open {
  transform: translate(0)
}


.burger {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  fill: var(--color1);
  z-index: 950;
  transition: fill 0.5s, transform 0.5s, background-color 0.5s;
  border-radius: 45%;
}

.burger.closed:hover {
  background-color: var(--color3);
}

.burger.open {
  transform: rotate(225deg);
}

.burger.open ~ .counter {
  opacity: 0;
}

.burger.closed ~ .counter {
z-index: 951;
}

.burger > rect {
  transition-property: y, transform;
  transition-duration: 0.5s;
  transform-origin: center;
}

.burger.open > #topBurger {
  y: 10;
}
.burger.open > #bottomBurger {
  y: 10;
}
.burger.open > #midBurger {
  transform:rotate(90deg);
}

.nav-header {
  height: 2rem;
}

.counter {
  position: fixed !important;
  top: 1rem;
  right: 1rem;
  transition: opacity 0.3s;
}

.points {
  font-size: 0.5rem;
  color: white;
  /* border: 1px solid var(--color1); */
  margin: 0.5rem 0.5rem;
  margin-top: 6rem;
}

.points p {
  text-align: left;
  margin: 0 0 0.1rem 0.1rem;
}

.boxContainer {
  border: var(--color1) solid 0.1rem;
  margin: 0.2rem auto;
  padding-bottom: 0.5rem;
}

.boxHeader {
  font-weight: 1000;
  text-align: left;
  font-size: 1.2rem;
  color: var(--color1);
}

.coinsContainer {
  position: relative;
}

.coin {
  height: 2rem;
  padding: 0;
  position: relative;
  font-size: 2.5rem;
  font-weight: bolder;
  animation: sparkle 0.3s;
}

@keyframes sparkle {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}

.spend {
  display: inline-block !important;
  color: var(--color2) !important;
  padding: 0.5rem !important;
  margin: 0.5rem !important;
}

/* Elements Stuff */

.button, .form, .label {
  font-size: 1rem;
  margin: 1rem auto;
  margin-bottom: 1rem;
  display: block;
}

/* Button Stuff */

.button {
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0.3rem #999;
}

.logout {
  float: left;
  position: absolute;
}

input {
  display: initial;
  position: relative;
  margin: 0.2rem;
}

.side {
  border: 0;
  margin: 0 0;
  display: inline;
  padding: 10px 20px
}

.button:hover {
  background-color: #3e8e41
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Form Stuff */

/* Table Stuff */

table {
  background: bisque;
  text-align: center;
  margin: auto auto;
}

th {
  background: aquamarine;
}

tr:hover {
  background-color: lightgreen;
  cursor: pointer;
}

.selected {
  background-color: lightgreen;
}

/* Loader */

svg {
  padding: 0.5rem;
  height: 4rem;
  visibility: visible;
}

circle, .tick, .drawText {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

circle {
  stroke-dasharray: 350 350;
  animation-name: load;
}

@keyframes load {
  0% {
    stroke-dashoffset: 350;
  }
  20% {
    stroke-dashoffset: 0;
  }
}

.tick {
  animation-name: pop;
  transform-origin: 50% 50%;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1.8);
  }
  25% {
    transform: scale(1);
  }
}

.drawText {
  animation-name: pop;
  animation-duration: 3s;
  transform-origin: 50% 50%;
}

@media only screen and (max-width:700px) {
  /* .points {
    font-size: 0.5rem;
    width: 5rem;
    right: 0.2rem;
    padding: 0.1rem;
  }
  .boxHeader {
    font-size: 1rem;
    overflow: hidden !important;
  } */
  .shrinkable {
    width: 10rem;
  }
  .logout, .spend {
    padding: 5px 10px !important;
    margin: 0.2rem !important;
    font-size: 0.5rem !important;
  }
  .App-header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .App-title {
    font-size: 1.5rem;
  }
}